<!DOCTYPE html>
<html>
<head>
	<%- include("views/partials/head.ejs"); %>
</head>
<body>
	<header>
		<%- include("views/partials/header.ejs"); %>
	</header>

	<!-- @@@ Main container @@@ -->
	<main role="main">
		<!-- Jumbotron -->
		<section class="jumbotron text-center custom-jumbotron pb-2">
			<div class="container">
				<h1 class="display-4">Welcome to Travel Experts!</h1>
				<div class="d-flex justify-content-center">
					<p class="lead text-muted col-sm-6 col-md-4">Some inspirational quote that is meant to elicit feelings of wanderlust. We then have a call to action in order to drive sales.</p>
					
				</div>
				<a href="#" class="btn btn-primary my-2">Discover Destinations</a>
			</div>
		</section>

		<!-- Thumbnail section -->
		<section class="album py-5 bg-light">
			<div class="container">
				<div class="row">
					<% Object.keys(packagesTable).forEach(function(key){ %>
						<% var row = packagesTable[key]; %>
						<% var id = row.PackageId; %>
						<% var thumb = row.PkgThumbnail; %>
						<% var title = row.PkgName; %>
						<% var desc = row.PkgDesc; %>
						<% var price = new Intl.NumberFormat("en-CA", { style: 'currency', currency: 'CAD' }).format(row.PkgBasePrice); %>
						<% var sDate = dayjs(row.PkgStartDate).format("MMM D, YYYY"); %>
						<% var eDate = dayjs(row.PkgEndDate).format("MMM D, YYYY"); %>

						<div class='col-md-4'>
							<div class="card mb-4 box-shadow">
								<%- "<img class='card-img-top' style='height: 225px; width: 100%; display: block;' src=images/" + thumb + ">" %>
								<div class="card-body">
									<%- "<h2 class='p-2 card-text text-center'>" + title + "</h2>" %>
									<%- "<h5 class='card-text text-center text-muted'>" + desc + "</h5>" %>
									<div class="d-flex col-flex justify-content-center align-items-center">
										<div class="col d-flex justify-content-center p-4">
											<form action="/order" method="get">

												<input type="submit" value="Book Now!" class="btn btn-lg btn-success"></input>
												<%- "<input type='text' style='visibility: hidden; width: 0; height: 0' name='pkgId' value=" + id + ">" %>
												
											</form>
											
										</div>
										<div class="col p-4">
											<%- "<h5 class='card-text text-center'>" + price + " CAD</h5>" %>
											
											<% if(dayjs().isAfter(sDate)){ %>
												<strong>From: </strong><strong style="color:red; "><%- sDate %></strong>
											<% } else{ %>
												<strong>From: </strong><text><%- sDate %></text>
											<% } %>
											<br />
											<strong>To: </strong> <%- eDate %>
											<div class="col">
												
											</div>
											<div class="col">
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% }); %>
				</div>
			</div>
		</section>
	</main>

	<footer>
		<%- include("views/partials/footer.ejs"); %>
	</footer>
</body>
</html>