<!DOCTYPE html>
<html>

<head>
	<%- include("partials/head.ejs"); %>
	<title>Contact Us Page</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<header>
		<%- include("partials/header.ejs"); %>
	</header>
	<div class="container">
		


		<% Object.keys(agenciesTable).forEach(function(key){ %>
			<% var row = agenciesTable[key]; %>
			<% var address = row.AgncyAddress; %>
			<% var city = row.AgncyCity; %>
			<% var postal = row.AgncyPostal; %>
			<% var country = row.AgncyCountry; %>
			<% var prov = row.AgncyProv; %>
			<% var phone = row.AgncyPhone; %>
			<% var fax = row.AgncyFax; %>
			<div><%- address %></div>
			<div><%- city %></div>
			<div><%- postal %></div>
			<div><%- country %></div>
			<div><%- prov %></div>
			<div><%- phone %></div>
			<div><%- fax %></div>


			<div class="container">


				<div class="row">
				<% for(j=0; j<agenciesTable[i].length; j++){ %>
					<% var row1 = agenciesTable[i][j] %>
					<% var agtFirstName = row1.AgtFirstName %>
					<% var agtMiddleInitial = row1.AgtMiddleInitial %>
					<% var agtLastName = row1.AgtLastName %>
					<% var agtBusPhone = row1.AgtBusPhone %>
					<% var agtEmail = row1.AgtEmail %>
					<% var agtPosition = row1.AgtPosition %>
					
						<div class="col-md-3">
							<ol>
								<li><%- agtFirstName %></li>
								<li><%- agtMiddleInitial %></li>
								<li><%- agtLastName %></li>
								
								<li><%- agtBusPhone %></li>
								<li><%- agtEmail %></li>
								<li><%- agtPosition %></li>
							</ol>
						</div>
					

				<% } %>
				</div>
		<% } %>


				<div class="row" style=" padding:30px 20px;">
					<div class="col-md-3">
						<h4><%- city %></h4>
						<ol>
							<li><%- address %></li>
							<li><%- postal %></li>
							<li><%- prov %></li>
							<li><%- country %></li>
							<li><%- phone %></li>
							<li><%- fax %></li>
						</ol>
					</div>
				</div>
			<% }); %>



	</div>

</body>

</html>
