<!DOCTYPE html>
<html>

<head>
	<%- include("partials/head.ejs"); %>
	<title>Contact Us Page</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<header>
		<%- include("partials/header.ejs"); %>
	</header>
	<div class="container">

		<% Object.keys(agenciesTable).forEach(function(key){ %>
			<% var row = agenciesTable[key]; %>
			<% var address = row.AgncyAddress; %>
			<% var city = row.AgncyCity; %>
			<% var postal = row.AgncyPostal; %>
			<% var country = row.AgncyCountry; %>
			<% var prov = row.AgncyProv; %>
			<% var phone = row.AgncyPhone; %>
			<% var fax = row.AgncyFax; %>
			<div><%- address %></div>
			<div><%- city %></div>
			<div><%- postal %></div>
			<div><%- country %></div>
			<div><%- prov %></div>
			<div><%- phone %></div>
			<div><%- fax %></div>


			<div class="container">

				<div class="row">
					<div class="col-md-3">

					</div>
					<div class="col-md-6">

						<h1 style=" text-align:center; padding: 30px 30px;">Contact Details</h1>
					</div>
					<div class="col-md-3">

					</div>
				</div>

				<div class="row" style=" padding:30px 20px;">
					<div class="col-md-3">
						<h4><%- city %></h4>
						<ol>
							<li><%- address %></li>
							<li><%- postal %></li>
							<li><%- prov %></li>
							<li><%- country %></li>
							<li><%- phone %></li>
							<li><%- fax %></li>
						</ol>
					</div>
				</div>
			<% }); %>

		</div>

	</div>

</body>

</html>
