<!DOCTYPE html>
<html>

<head>
	<%- include("partials/head.ejs"); %>
	<title>Contact Us Page</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<header>
		<%- include("partials/header.ejs"); %>
	</header>
	<div class="container">
	  
	  <div class="row">
	     <div class="col-md-4">
		 </div>
	     <div class="col-md-4">
		    <h1 style=" text-align: center; color:#34568B;">Agency Info:</h1> 
		 </div>
	     <div class="col-md-4">
		 </div>
	  </div>
	  
	</div>
	<div class="container">
		<% for(i=0; i<agenciesTable.length; i++){ %>
			<% var row = agenciesTable[i][0] %>
			<% var agncyAddress = row.AgncyAddress %>
			<% var agncyCity = row.AgncyCity %>
			<% var agncyProv = row.AgncyProv %>
			<% var agncyPostal = row.AgncyPostal %>
			<% var agncyCountry = row.AgncyCountry %>
			<% var agncyPhone = row.AgncyPhone %>
			<% var agncyFax = row.AgncyFax %>

			<div class="row" style=" padding:30px 20px;">
			    <div class="col-md-4"></div>
				<div class="col-md-4"  style=" box-shadow: 5px 5px 5px 5px #888888; text-align: center; background-color: #FFF3EA;">

					<h4><%- agncyCity %>, <%- agncyProv %></h4>
					<ol>
						<li><%- agncyAddress %></li>
						<li><%- agncyPostal %></li>
						<li><%- agncyProv %></li>
						<li><%- agncyPhone %></li>
					</ol>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<% for(j=0; j<agenciesTable[i].length; j++){ %>
					<% var row1 = agenciesTable[i][j] %>
					<% var agtFirstName = row1.AgtFirstName %>
					<% var agtMiddleInitial = row1.AgtMiddleInitial %>
					<% var agtLastName = row1.AgtLastName %>
					<% var agtBusPhone = row1.AgtBusPhone %>
					<% var agtEmail = row1.AgtEmail %>
					<% var agtPosition = row1.AgtPosition %>
                    
					<div class="col-md-3"  style=" padding:30px 20px; box-shadow: 3px 3px 3px 3px #888888;">
						<ol>
							<li><%- agtFirstName %></li>
							<li><%- agtMiddleInitial %></li>
							<li><%- agtLastName %></li>

							<li><%- agtBusPhone %></li>
							<li><%- agtEmail %></li>
							<li><%- agtPosition %></li>
						</ol>
					</div>
				<% } %>
			</div>
		<% } %>
	</div>
</body>

</html>

<footer>
		<%- include("partials/footer.ejs"); %>
</footer>